.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  gap: 2vh;
  padding: 2vh 0;
}

.label {
  font-size: 3vh;
  font-weight: bold;
}

.input {
  font-size: 3vh;
  width: 10%;
  text-align: center;
  padding: 0.5vh;
  border: 1px solid #000000;
  border-radius: 0.5vh;
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.button {
  font-size: 3vh;
  width: 10%;
  text-align: center;
  padding: 0.5vh;
  border: 1px solid #000000;
  border-radius: 0.5vh;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}